@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body,
p,
h1,
h2,
h3,
figure {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
