section {
  padding-top: 5rem;
  padding-bottom: 5rem;

  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 100%;
  box-sizing: border-box;

  height: 100vh;
}

.body {
  border-radius: 3rem;
  padding: 2rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  width: 100%;
  height: 100%;

  color: #fff;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/form-house-1.jpg");
  background-size: cover;
}

.body div {
  width: 50%;
}

h3 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 4rem;
}

.body p {
  font-size: 1.7rem;
  font-weight: 200;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.indicators-nbr,
.indicators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  font-size: 1.2rem;
}

.indicators-nbr {
  gap: 5rem;
}

.indicator-nbr:hover,
.indicator-nbr-active {
  cursor: pointer;
  font-weight: 500;
}

.indicator-nbr-active {
  font-size: 2rem;
}

.indicators {
  gap: 1rem;
}

.indicator {
  width: 0.15rem;
  height: 5rem;

  background-color: #ffffff7f;
}

.indicator:hover,
.indicator-active {
  cursor: pointer;
  width: 0.3rem;
  background-color: white;
}
